text

# reboot after installing
reboot

# installation source (AppStream)
#repo --name="AppStream" --baseurl=http://10.0.0.30/centos-st9/AppStream
# installation source (Base)
#url --url="http://10.0.0.30/centos-st9"
nfs --server=10.99.99.1 --dir=/dvd
# installation packages
%packages
@^Minimal Install
openssh-server
curl
tcpdump
%end

# keyboard layouts
keyboard --xlayouts='gb'

# system locale
lang en_GB

# network settings
network --hostname=node1.home

# enable first boot setup
firstboot --enable

ignoredisk --only-use=sda

# initialize all partition tables
clearpart --none --initlabel

# partitioning
# for [/boot/efi], it needs only for UEFI clients
part /boot --fstype="xfs" --ondisk=sda --size=1024
part /boot/efi --fstype="vfat" --ondisk=sda --size=512
part pv.278 --fstype="lvmpv" --ondisk=sda --size=30720
volgroup cs --pesize=4096 pv.278
logvol / --fstype="xfs" --grow --size=1024 --name=root --vgname=cs
logvol swap --fstype="swap" --size=5120 --name=swap --vgname=cs

# system timezone
timezone GB --isUtc

# root password
# openssl passwd <<< printf 'password\npassword\n'
rootpw --iscrypted $1$xOvZ6yhz$7DQzQKYdgPr8Z5E7Ugtr//
# for other user settings if adding

user --name=max --password=$1$vKg0g3pJ$dGC98bGv7hH.luH.VXDzq1 --iscrypted --gecos="max"

# enable Kdump
%addon com_redhat_kdump --enable --reserve-mb='auto'
%end
